.buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    grid-column: 1 / 2;
    grid-row: 3;
}

.buttons__button {
    width: 150px;
    height: 32px;
    border-radius: 5px;
}