.choose {
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    @media (max-width: 800px) {
        grid-column: 1;
        grid-row: 2;
        flex-flow: row;
        width: 100%;
      }
    &__item {
        display: flex;
        flex-flow: column;  
        overflow-wrap: break-word;      
    }
    &__label {
        margin-bottom: 4px;
    }
    &__input {
        width: 150px;
        height: 64px;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 5px #00000080; 
        @media (max-width: 520px) {
            width: 75px;
        }
        &--font {
            font-family: var(--font);
        }
        &--size {
            font-size: var(--size);
        }
    }
    &__option {
        &--dancing {
            font-family: 'Dancing Script', cursive;
        }
        &--open-sans {
            font-family: 'Open Sans', sans-serif;
        }
        &--pt-serif {
            font-family: 'PT Serif', serif;
        }
        &--small {
            font-size: 16px;
        }
        &--regular {
            font-size: 20px;
        }
        &--large {
            font-size: 24px;
        }
        &--very-large {
            font-size: 28px;
        }
    }
}


 
