@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "./modules/buttons.scss";
@import "./modules/choose.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&family=PT+Serif&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --font: 'Dancing Script', cursive;
  --color: black;
  --size: 16px;
}

body {
  background-color: gray;
  background-image: url(../assets/img/blank-composition-desk-journal-606539.jpg);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 600px auto;
  column-gap: 10px;
  row-gap: 10px;
}
.header {
  grid-column: 1 / 3;
  margin: 0;
}
.text {
  grid-column: 1 / 2;
  grid-row: 2;
  width: 600px;
  height: 400px;
}
.textarea {
  width: 100%;
  height: 100%;
  border: solid 3px rgb(160, 160, 160);
  border-radius: 10px;
  padding: 10px;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  &::placeholder {
    color: var(--color);
    opacity: 50%;
  }
}