@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "./modules/buttons.scss";

body {
  background: gray;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.textarea {
  width: 600px;
  height: 400px;
}